.faq-row {
    border: none !important;
}

.row-title {
    /* background-color: #ff4c30e8; */
    padding-left: 30px !important;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}


.row-content-text {
    font-weight: 600;
}

.row-title::after {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f1371e;
    opacity: 0.8;
}